services:
  db:
    image: postgres:16.2-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: rent
    ports:
      - "5432:5432"
    volumes:
      - /data/pgdata:/var/lib/postgresql/data
